.ingredients {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
}

.container {
    list-style-type: none;
    padding-bottom: 40px;
}