.ConstructorDetails-list {
    margin: 0;
    padding: 0;
    width: 568px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ConstructorDetails-listItem {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: grab;
}