.IngredientDetails-container{
    width: 720px;
    max-height: 528px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.IngredientDetails-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.IngredientDetails-listItem{
    text-align: center;
}

.IngredientDetails-image{
    margin: 0 auto;
    width: 440px;
    height: 240px;
}